@media only screen and (max-width:1005px) {
  .menu{
    display: none;
  }  
  .navbar{
    position: relative;
  }
  .logo{
    margin: 0;
    text-align: center;
  }
  .header{
    padding-top: 50px;

  }
  .chama{
    flex: 100%;
    margin: 5%;
    text-align: center;
  }
  .chama p{
    text-align: center;
  }
  .img-chama{
    flex: 100%;
    margin: 5%;
    text-align: center;
  }
  .fixer{
    display: none;
  }
  .card{
    width: 100%;
  }
}